{% extends "base.html" %}

{% block content %}

<div class="container d-flex p-4 mt-5 justify-content-center">
  <div class="container h-100">
    <div class="row custom-row no-gutters d-flex justify-content-center align-items-center h-100 pb-5 center-block text-center">
      <div class="col-lg-7 border px-5 py-5 rounded">
        <h2 class="text-center">Thanks for spending some quality time with the website today!</h2>
        <h3 class="btn btn-dark text-center"><a class="text-white" href="{% url 'login' %}">Log in again</a></h3>
      </div>
    </div>
  <div>
</div>
{% endblock %}
